* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html {
    background-color: rgb(161, 206, 161);
}
.logo{
    text-align: left;
    display: flex;

}
header {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 46%;
    height: 400px;
}
header h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    font-size: 60px;
    color: aliceblue;
    font-weight: 600;
    
}
nav {
    display: flex;
    flex-wrap: wrap;
    text-align: righ;
    align-items: right;
    justify-content: space-between;
    margin-right:30px ;
    
}
nav ul {
    margin-top: 30px;
    margin-right: 39px;
    display: flex;
    flex-direction: row;
    column-gap: 70px;
}
nav ul li {
    display: inline-block;
    flex-direction: row;
    cursor: pointer;

}
header nav ul li a:hover {
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.183);
}
nav ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: cadetblue;
    text-shadow: 1px 1px black;
    cursor: pointer;
    padding: 5px;
    transition: 1s;
    
}
.container {
    display: flex;
    margin-left: 20%;
    margin-top: 12%;
    justify-content: space-between;
    margin-bottom: 5%;
    
}
.container .small-container{
    width: 550px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    
}
.container .images{
    margin-right: 20%;
    transform: scale(1.4);

    transition: 1s;
}
.fa-solid{
    margin-right: -4px;
    margin-top: 20px;
    width: 20px;
   font-size: 30px;
   cursor: pointer;
   color: rgb(13, 124, 37);
   display: none;
}
.container .images .side-image{
    border-radius: 10px;

}


.text-section{
    text-align: center;
    align-items: center;
    width: 900px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;
}

.section-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 100px;
}
 h4 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 33px;

}

.classes-card-section {
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    margin-bottom: 200px;

}
.classes-card-section .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    justify-content: space-evenly;
    height: 300px;
    
    
}

.classes-card-section .cards .class{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 200px;
    height: 220px;
    padding: 19px;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    cursor: pointer;
    
   
   

}
.classes-card-section .cards .class  img{
    border-radius: 10px;
    width: 240px;
    height: 200px;
    transition: transform 1.3s;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 34px;
    padding-left: 34px;
    box-lines: 3px 3px 3px 4px black;
    
}
.class span {
    font-weight: 600;
    padding: 4px;
}

.class figcaption{
    font-weight: 600;
    padding: 4px;
}
.classes-card-section  .btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: rgb(4, 82, 4);
    font-size: 29px;
    transition: 1.3s;
    width: 40%;
    border-radius: 40px;
    margin-top: 50px;

}
.btn a {
    justify-content: center;
    padding: 10px;
    color: white;
    text-decoration: none;

}
.classes-card-section  .btn:hover {
    color: darkgreen;
    font-weight: 700;
    background-color: rgb(10, 169, 10);
    
}
footer {
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    background-color: rgba(28, 18, 96, 0.659);
}
footer .footer-elements link a {
    cursor: pointer;
   
    
}
footer .footer-elements .link a:hover {
    border-bottom: 1px solid white;
    color: black;
    width: 40%;
}
footer h6 {
    font-size: 22px;
}
footer .link a{
      color: white;
      font-size: 20px;
      text-decoration: none;
      display: flex;
}
.social-media i {
    cursor: pointer;
}
.social-media i .fa-brands{
       display: flex; 
       flex-wrap: wrap;
       cursor: pointer;
       
}


/*-------ABOUT HTML-------*/

#about-html{
    overflow: hidden;
}
/*--------contact html-------*/












    /* ---------Media for max 930px-------*/
@media screen and (max-width:930px){
     nav ul {
        display: none;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between;

    }
    .container .small-container {
        margin-bottom: 40px;
        margin-left: -40%;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    .container .images .side-image{
        text-align: center;
        align-items: center;
        justify-content: space-around;
         width: 160px;
         height: 160px;
         border-radius: 10px;
    }

    #side-menu{
        display: flex ;
        flex-direction: column;
        width: 150px;
        margin-right: -30px;
        margin-top: 0%;
        height: 400px ;
        padding-top: 4px;
        padding-left: 5px;
        text-align: center;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.766);
        opacity: 1;
    }
    .text-section{
        text-align: center;
        align-items: center;
        width: 400px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 100px;
    }

}














  /*------media for max 470px-----*/
@media screen and (max-width:470px){

    #side-menu{
        display: flex ;
        flex-direction: column;
        width: 150px;
        height: 400px ;
        margin-top: -200px;
        margin-left: 70%;
        padding-top: 4px;
        padding-left: 5px;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        color: white;
        background-color: rgba(0, 0, 0, 0.766);
        opacity: 1;
    }
    .text-section{
        text-align: center;
        align-items: center;
        width: 200px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .classes-card-section{
        margin-bottom: 30%;
    }

}